* {
    box-sizing: border-box;
}

h2 {
    padding-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

button {
    position: relative;
    font-size: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
}

main {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    display: grid;
    padding-left: 2px;
    padding-top: 10px;
    grid-column-gap: 1px;
    grid-row-gap: 2px;
    grid-template-columns: repeat(7, 14%);
    grid-template-rows: repeat(6, 16%) auto;
    width: 70%;
    min-height: 85vh;
}

app-chip {
    border: 2px solid #3498db;
    background-color: white;
    border-radius: 50%;
}